body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    margin: 10px;
    display: flex;
}

canvas {
    border: 1px solid black;
    width: 800px;
    height: 500px;
}